@model LojaDoces.Models.Doces
@{ ViewBag.Title = "DocesCadastrados"; }

<h2>O jogo foi cadastrado com sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar", "Doces")</p>
<p>@Html.ActionLink("Visualizar Doces", "ListaDoces")</p>

