@model LojaDoces.Models.Fornecedor
@{ ViewBag.Title = "FornCadastrados"; }

<h2>O fornecedor foi cadastrado com sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar", "Fornecedor", "Home")</p>
<p>@Html.ActionLink("Visualizar Fornecedores", "ListarForn", "Home")</p>

